{% extends "base.html" %}
{% block content %}
<p>Is today {{ max_date }}?</p>
<form action="" method="POST">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>
<table style="width:100%">
  <tr>
    <th>Family</th>
    <th>Adults</th>
    <th>Kid 0-12 yo</th>
    <th>Youth - over 12 yo</th>
    <th>Number joining dinner</th>
  </tr>
  {% for family in families %}
  <tr>
    <td> <a href="{% url 'show_up' family.name%}">{{ family.name }}</a></td>
    <td>{{ family.nAdults }}</td>
    <td>{{ family.nUnder12 }}</td>
    <td>{{ family.nAbove12 }}</td>
    <td>{{ family.nMeals }}</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'new_family' %}">
  <h3>Click here to add your family<h3>
</a>
{% endblock %}
