{% extends "base.html" %}
{% block content %}
<h1> Current intermediate record </h1>
{{ max_date }}
<form action="" method="POST">{% csrf_token %}
  {{ dateForm.as_p }}
  <input type="submit" value="Update current record">
</form>
<br>
<table style="width:100%">
  <tr>
    <th>Record date</th>
    <th>Name</th>
    <th>Adults</th>
    <th>Kid 0-12 yo</th>
    <th>Youth - over 12 yo</th>
  </tr>
  {% for entry in currentRecord %}
  <tr>
    <td>{{ entry.submission_date }}</td>
    <td>{{ entry.name }}</td>
    <td>{{ entry.nAdults }}</td>
    <td>{{ entry.nUnder12 }}</td>
    <td>{{ entry.nAbove12 }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
